.NoteContainer {
    margin-top: 40px;
    width: 100;
    height: auto;
    background-color: lavender;
    padding: 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}