.Header {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Image {
    width: 100px ;
}

.Links {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-evenly;
}

.Login {
    width: 40px;
    background-color: lavender;
}

.Register {
    width: 35px;
    background-color: lavender;
}